
<div class="about_us">
<div class="section1">
    <div>
        <p>
            <h1>About Us</h1>
            After the covid-19 pandemic and the current economical crisis, many individuals were left unemployed,
            with low incomes and high costs of living. Therefore many people are desperate to find other sources of income. 
            In addition to this, people often complain that it is difficult to find trustworthy and reliable workers for many 
            different tasks. <br><br> 
            AVAIL is a website that is developed and designed in order to bring together different service providers, with a friendly 
            and compatible UI, so that it’s easier for consumers to easily find a range of services in one place, while many 
            individuals also can secure another source of income by offering their services through the application. This website aims 
            to fill in the gap left in the company and in the long run help the country.


        </p>
    </div>
    <img src="img/abtus1.jpg" alt="avail-img">
</div>

<div class="section2">
    <div class="section2image">
        <img src="img/abtus2.jpg" alt="join-Avail" width="500px" height="350px"> 
    </div>
    <div class="section2txt">
        <p>
            <h1>Join Us - Become a seller</h1>

            Join AVAIL and become an independent seller through our platform ! We are always on the lookout for talanted and skilled individuals who can efficently complete 
            quality work. <br>
            By becoming a seller on AVAIL, you will be able to showcase your talents, skills and workmanship to a large audience of potential clients, and draw in many offers
            and opportunities. <br>
             
            <br>
            You'll be able to set your own rates and work on your own terms, giving you the flexibility to grow your business at your own pace. <br>
            To get started, simply create a seller account and upload your portfolio or list of services. <br>
            Our team will review your application and provide any necessary support to help you get set up and start offering your services to clients. <br>
            We can't wait to see what you have to offer and to welcome you to our community of ingredients. Join us today and take the first step towards building a successful freelance business. <br>

        </p>

    </div>
</div>

</div>

