
<%- include('header') -%>


<div class="text-center center-div" id="login">
    <div class="container w-25 border py-5">
        <div class="title pb-5">
            <h2 class="font-weight-bold">Admin Login System</h2>
            <span>please log in using admin credentials</span>
            <% if(locals.logout){ %>
                <div class="alter alert-success text-center">
                    <%= logout %>
                </div>
            <% } %>
        </div>
        <form action="/route/login" method="POST" class="pt-3">
            <div class="form-group">
                <input type="email" class="form-control" placeholder="Email" name="email">
                
            </div><br>
            <div class="form-group">
                <input type="password" class="form-control" name="password" placeholder="Password">
            </div><br>
            
            <button type="submit" class="btn btn-primary btn-lg">Submit</button>
        </form>
    </div>
</div><br><br>


<%- include('footer') -%>
